<?xml version="1.0" encoding="UTF-8"?>
<InsomniaConfig interval="60000" port="1473">

    <DebugParameters startupDelay="5000">
        <TestMessage>Hallo Welt!</TestMessage>
    </DebugParameters>


    <Logging logLevel="Debug">
        <EventLog />
    </Logging>

    <!-- <UserInterface>
        <TrayMenu>
            <MoonriseCommander />
        </TrayMenu>

        <WindowCleaner>
            <TitlePattern>Netzwerkverbindungen wiederherstellen</TitlePattern>
        </WindowCleaner>
    </UserInterface> -->

    <SleepWatch log="false">
        <!-- <NetworkCommander requiredPresence="user" wake="continuous" resolveIPAdress="false">
            <Network name="Unseen University">
                <MoonriseEnumerator url="moonrise://ip.madwizard.de:6666/" />

                <Host name="DRAGON" mode="wakeOnLAN" address="08:60:6E:6E:AA:66" />
                <Host name="KEVINS-PC" mode="none">90:2B:34:32:78:17</Host>
            </Network>
        </NetworkCommander> -->

        <!-- <ActivityDetector idleMax="1">
            <PingHost>
                <Host name="KEVINS-PC" />
                <Host name="KEVINS-LAPTOP" />
            </PingHost>

            <PowerRequests logIfIdle="true" keepAlive="true">
                <Request name="Audio/Video">vlc,audio,video</Request>
                <Request name="Backup">backup</Request>
                <Request name="DVBLink">dvblink_server</Request>
            </PowerRequests>

            <RemoteDesktopConnection />
            <UserIdle />
            <WakeOnLAN />
        </ActivityDetector> -->

        <!-- <AntiSleepWalk /> -->
    </SleepWatch>

    <!-- <RemoteControl discovery="broadcast" security="none" /> -->

    <LogSweeper count="10" />

</InsomniaConfig>