<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs\nlog.log"
      internalLogLevel="Warning">

	<variable name="logs" value="${currentdir:dir=logs}" />

	<targets>

		<!--<target xsi:type="File" name="all" fileName="${logs}\all.log"
			layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger:shortName=true} :: ${message}  ${exception}" />-->

		<target xsi:type="File" name="insomnia" fileName="${logs}\insomnia.log"
				layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger:shortName=true} :: ${message}  ${exception}" />

		<target xsi:type="File" name="usage" fileName="${logs}\usage.log"
				layout="${date:format=HH\:mm}     ${event-properties:item=tokens}"
				archiveFileName="${logs}\archive\usage-{###}.log" 
				archiveNumbering="Date" 
				archiveDateFormat="yyyy-MM-dd" 
				archiveEvery="Day" maxArchiveDays="10"
				footer="Total sleep duration: ${sleep-duration}" 
				writeFooterOnArchivingOnly="True"
				concurrentWrites="True"/>

		<target xsi:type="File" name="sleep" fileName="${logs}\usage.log" 
			layout="zzzZZZzzz... (${message})"
			concurrentWrites="True"/>  

	</targets>

	<rules>
		<logger name="MadWizard.Insomnia.SystemUsageInspector" level="Info" writeTo="usage" />
		<logger name="MadWizard.Insomnia.Power.SleepWatch" level="Info" writeTo="sleep" final="true"/>

		<logger name="MadWizard.Insomnia.*" minlevel="Debug" writeTo="insomnia" />

		<!--<logger name="*" minlevel="Debug" writeTo="all" />-->

	</rules>
</nlog>
